
/* --styles Rebeca-- */

.caja1 {
    display: flex;
    background: rgb(44, 207, 229);
    justify-content: center;
}
 
.acont {
    background: olivedrab;
    margin: 30px;
    width: 50%;
    height: 50px;
    text-align: center;
}
